<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light dark">
  <title>Comunidade de jardinagem</title>
  <link rel="shortcut icon" href="images/lotus.png">
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="scripts/stars_rating.js" defer></script>
</head>

<body>
  <div class="container">
      <header id="cabecalho">
        <button id="toggle-sidebar">☰</button>
        <div class="logo">
          <img src="images/lotus.png" alt="Ícone da comunidade de jardinagem">
          <h1>Comunidade de jardinagem</h1>
        </div>
        <nav>
          <button class="botao-custom">
            <a href="index.html">Página Inicial</a>
          </button>
          <button class="botao-custom">
            <a href="user_profile.html">Perfil</a>
          </button>
          <button class="botao-custom">
            <a href="fav_plants.html">Plantas favoritas</a>
          </button>
        </nav>
      </header>
      <aside id="barra-lateral">
        <img src="images/icon-user.png" alt="Foto do usuário">
        <button class="botao-custom botao-sidebar">
          <a href="user_profile.html">Meu Perfil</a>
        </button>
        <button class="botao-custom botao-sidebar">
          <a href="add_plant.html">Adicionar nova planta</a>
        </button>
        <button class="botao-custom botao-sidebar">
          <a href="">Sair da conta</a>
        </button>
      </aside>
      <main id="principal">
        <section>
          <div class="banner">
            <h1>Comunidade de jardinagem</h1>
          </div>
          <h2>Plantas</h2>
        </section>
        {{#if plants}}
        <section class="box-plantas">
          {{#each plants}}
          <article class="post-plantas">
            <a href="/plants/{{id}}">
              <h3>{{name}}</h3>
              <img src="{{pictureUrl}}" class="foto-planta" alt="{{pictureAlt}}">
              <label>Facilidade de cuidar:
                <button class="fa fa-star checked" disabled></button>
                <button class="fa fa-star checked" disabled></button>
                <button class="fa fa-star checked" disabled></button>
                <button class="fa fa-star checked" disabled></button>
                <button class="fa fa-star" disabled></button>
              </label>
              <p>
                {{description}}
              </p>
            </a>
          </article> 
          {{/each}}                     
        </section>
        {{/if}}
      </main>
    <footer id="rodape">
      <div>
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, and by <a 
            href="https://www.klipartz.com title=" title="Klipartz">Klipartz</a>
      </div>
    </footer>
  </div>
  <script src="scripts/sidebar.js"></script>
</body>
</html>
